<div class="text-center">
  <h1>Welcome to My dictionary</h1>
</div>

<p>Create a new word:</p>

<form action="/index" method="post">
  <label for="description">Word</label>
  <input id="description" name="description" type="text">

  <label for="description">
    Type of word</label>
  <input id="description" name="description" type="text">

  <label for="description">Word Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add word</button>
</form>
