<div class"text-center"> <h1>Welcome to My Dictionary</h1> </div>
<hr>
  <!-- <a href="/word_list">See word List</a>
  <a href="/word_list/new">Add New word</a> -->

  <h2>Here are your words:</h2>


  <% @words.each() do |word| %>
    <ul>
      <li><h3><a href="/word/<%= word.id() %>"><%= word.show() %></a></h3></li>
    </ul>
  <% end %>
  <br>

  <h4>Add a new word to your dictionary:</h4>
   <form action='/new_word' method='post'>
    <div class="form-group">
      <input id="new_word" name="new_word" type="text" class="form-control input-sm">
    </div>

    <button type="submit" class="btn-default">Add</button>
  </form>
